GEMINI_API_KEY=
SUPABASE_URL=https://nhqambvmghlhzjtdvljz.supabase.co
SUPABASE_KEY=sb_publishable_Y6F5nGyspeypmyQbanrUEA_r2N2s6PC
# Opcjonalny klucz serwera (Service Role Key), który pozwala na pełny zapis i odczyt z pominięciem reguł RLS w Supabase
SUPABASE_SERVICE_ROLE_KEY=
